<nav aria-label="breadcrumb" style="margin-top:20px; ">
    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a routerLink="/admin/transactions">Transactions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transaction Details</li>
    </ol>
</nav>
<div class="container">
    <div *ngIf="loading" class="mt-5 mx-auto">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
    <div class="row p-1 " id="tData" #tData *ngIf="showDetails">
        <h3 class="d-flex justify-content-center mt-4">Transaction Details</h3>
        <div class="col-sm-12 d-flex justify-content-center bg-white table-responsive">
           
            <table class="table table-light">
               
                <tbody>
                    
               
                
                    <tr>
                        <th>#</th>
                        <td>{{data.id}}</td>
                    </tr>
                    <tr>
                        <th>Transaction Id</th>
                        <td> {{data.transaction_id}}</td>
                    </tr>
                        
                     <tr>
                        <th>Transaction Date</th>
                        <td> {{data.created_at | date: 'medium'}}</td>
                     </tr> 
                     <tr>
                        <th>Updated</th>
                        <td> {{data.updated_at | date: 'medium'}}</td>
                     </tr>
                    <tr>
                        <th>Amount</th>
                        <td> ${{data.amount}}</td>
                    </tr>
                    <tr>
                        <th>Currency</th>
                        <td> {{data.currency}}</td>
                    </tr>
                       
                    <tr>
                        <th>Status</th>
                        <td>{{data.t_status}}</td>
                    </tr>
                    <tr>
                        <th>Source Type</th>
                        <td>{{data.source_type}}</td>
                    </tr>
                    <tr>
                        <th>Card Brand</th>
                        <td> {{data.card_brand}}</td>
                    </tr>
                    <tr>
                        <th>Last 4</th>
                        <td>{{data.last_4}}</td>
                    </tr>
                    <tr>
                        <th>Expiration Month</th>
                        <td> {{data.exp_month}}</td>
                    </tr>
                    <tr>
                        <th>Expiration Year</th>
                        <td> {{data.exp_year}}</td>
                    </tr>
                    <tr>
                        <th>Receipt No</th>
                        <td>{{data.receipt_no}}</td>
                    </tr>
                    <tr>
                        <th>Receipt Url</th>
                        <td>{{data.receipt_url}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
            <div class="print d-flex justify-content-center mt-2">
                <button class="btn btn-primary" printSectionId="print-section" (click)="genPDF()">
                    <i class="fas fa-print"></i>
                    Export As | PDF
                </button>
            </div>
        </div>
    </div>


</div>