<nav aria-label="breadcrumb" style="margin-top:20px; margin-left:95px;">
    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Customers</li>
    </ol>
</nav>
<div class="container">
    <div class="row justify-content-sm-center p-5 bg-white">
        <div class="col-sm-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
    </div>
</div>