<nav aria-label="breadcrumb" style="margin-top:20px; margin-left:95px;">
    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Coupons</li>
    </ol>
</nav>
<div class="container">

    <div class="row d-flex justify-content-sm-center bg-white p-5 table-responsive">
        <div class="col-sm-12">
            <div class="row d-flex justify-content-sm-center">
                <div>
                    <button class="btn btn-lg btn-primary mt-3 mb-3" (click)="open(addCouponModal)">Add
                        Coupon</button>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Coupons</th>
                                <th scope="col">Services</th>
                                <th scope="col">Discounts </th>
                                <th scope="col">Type %|$</th>
                                <th scope="col">Expiration Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let coupon of coupons | paginate: { itemsPerPage: 10, currentPage: p }">
                                <th scope="row">{{coupon.id}}</th>
                                <td>{{coupon.coupon_code}}</td>
                                <td>{{coupon.services}}</td>
                                <td>{{coupon.discount}}</td>
                                <td>{{coupon.type}}</td>
                                <td>{{coupon.valid_till}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="control buttons">
                                        <button type="button" class="btn btn-primary" (click)="open(editCoupon)"
                                            (click)="getcouponById(coupon.id)">Edit</button>
                                        <button type="button" class="btn btn-danger"
                                            [swal]="['Hold on!', 'Sure you want to delete?', 'warning']"
                                            (confirm)="deleteCoupon(coupon.id)">Delete</button>

                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>

                </div>

            </div>

        </div>

    </div>
</div>

<!--Add Coupon Modal-->
<ng-template #addCouponModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">ADD COUPON</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row d-flex justify-content-sm-center bg-white p-3">

            <div class="col-sm-12">
                <form [formGroup]="addCouponForm" (ngSubmit)="addcoupon()" (ngSubmit)="addCouponForm.reset()"
                    (ngSubmit)="d('Cross click')">
                    <div class="form-group row mt-2">
                       
                            <label for="title">Coupon Code</label>
                          
                                <input formControlName="title" type="text" class="form-control form-control-lg"
                                    [ngClass]="{ 'is-invalid': displayError && formControls.title.errors, 'is-valid': formControls.title.valid }"
                                    (blur)="displayError=true" placeholder="coupon code">

                          


                            <div *ngIf="displayError && formControls.title.errors" class="invalid-feedback">
                                <div *ngIf="formControls.title.errors.required">Enter coupon code to Proceed</div>
                            </div>
                        

                    </div>

                    <div class="form-group mt-4">
                        
                            <label for="services">Errand Service</label>
                            <select class="form-control form-control-lg" formControlName="service" #service
                                [ngClass]="{ 'is-invalid': displayError && formControls.service.errors, 'is-valid': formControls.service.valid }"
                                (blur)="displayError=true">
                                <option value="">Select service ...</option>
                                <option *ngFor="let service of services" [value]="service.id">{{service.title}}
                                </option>
                            </select>
                            <div *ngIf="displayError && formControls.service.errors" class="invalid-feedback">
                                <div *ngIf="formControls.service.errors.required ">Select service to proceed</div>
                            </div>
                        
                    </div>
                    <div class="form-group  mt-4">
                        
                            <label for="services">Coupon Type</label>
                            <select class="form-control form-control-lg" formControlName="type" #type
                                [ngClass]="{ 'is-invalid': displayError && formControls.type.errors, 'is-valid': formControls.type.valid }"
                                (blur)="displayError=true">
                                <option value="">Select coupon type ...</option>
                                <option value="percentage">Percentage</option>
                                <option value="fixed">Fixed</option>
                            </select>
                            <div *ngIf="displayError && formControls.type.errors" class="invalid-feedback">
                                <div *ngIf="formControls.type.errors.required ">Select coupon type to proceed</div>
                            </div>
                       
                    </div>
                    <div class="form-group mt-4">
                        <label>Discount</label>
                        <input type="text" class="form-control form-control-lg" placeholder="Coupon Discount"
                                formControlName="discount" (blur)="displayError=true"
                                [ngClass]="{ 'is-invalid': displayError && formControls.discount.errors, 'is-valid': formControls.discount.valid }">
                        <div *ngIf="displayError && formControls.discount.errors" class="invalid-feedback">
                            <div *ngIf="formControls.discount.errors.required ">Enter discount</div>
                        </div>
                    </div>
                    
                  
                    <div class="form-group mt-4">
                        <label>Expiration Date</label>
                       
                            <input type="date" class="form-control form-control-lg" placeholder="Pick Date"
                                formControlName="valid_till" (blur)="displayError=true"
                                [ngClass]="{ 'is-invalid': displayError && formControls.valid_till.errors, 'is-valid': formControls.valid_till.valid }">


                        <div *ngIf="displayError && formControls.discount.errors" class="invalid-feedback">
                            <div *ngIf="formControls.discount.errors.required ">Enter Expiration Date to Proceed</div>
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <div class="col-sm-12">
                            <button class="btn btn-block btn-lg btn-primary"
                                [disabled]="addCouponForm.invalid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<!--Modal  Edit Service template-->
<ng-template #editCoupon let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">EDIT COUPON</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row d-flex justify-content-sm-center bg-white p-3">
            <div class="col-sm-12">
                <div class="d-flex justify-content-sm-center mt-195 mb-195" *ngIf="loading">
                    <div class="spinner-border text-center text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div *ngIf="showEditValues">
                    <form (ngSubmit)="updateCoupon(f)" (ngSubmit)="d('Cross click')" #f="ngForm">
                        <div class="form-group row mt-2">
                            <div class="col-sm-12">
                                <label for="title">Coupon Code</label>
                                <input type="text" class="form-control form-control-lg"
                                [(ngModel)]="this.editcouponById.coupon_code" name="title" id="title">
                                <input type="hidden" [(ngModel)]="this.editcouponById.id" name="id" id="id">
                            </div>
                        </div>

                        <div class="form-group row mt-2">
                            <div class="col-sm-12">
                                <label for="services">Errand Service</label>
                                <div class="form-control form-control-lg" readonly>
                                    <p>{{this.editcouponById.services}}</p>
                                </div>
                            </div>
                        </div>
                          <div class="form-group row mt-2">
                            <div class="col-sm-12">
                                <label for="services">Coupon Type</label>
                                <select class="form-control form-control-lg"  id="type" name="type" [(ngModel)]="this.editcouponById.type">
                                <option value="{{ctype}}">{{ctype}}</option>
                                <option value="percentage">Percentage</option>
                                <option value="fixed">Fixed</option>
                                </select>
                            </div>
                        </div>
                      
                        <div class="form-group row mt-2 ">
                            <div class="col-sm-12">
                          <input type="text" class="form-control form-control-lg "
                                        [(ngModel)]="this.editcouponById.discount" id="discount" name="discount">
                          </div>

                        </div>
                      
                        <div class="form-group row mt-2">
                            <div class="col-sm-12">
                                <label for="coupon">Expiration Date</label>
                               <input type="date" class="form-control form-control-lg"
                                        [(ngModel)]="this.editcouponById.valid_till" id="valid_till" name="valid_till">
                             </div>

                        </div>
                        <div class="form-group row mt-2">
                            <div class="col-sm-12">
                                <button class="btn btn-block btn-lg btn-primary" [disabled]="f.invalid">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</ng-template>
<ngx-alerts></ngx-alerts>