
<div class="container">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#dba215" type="triangle-skew-spin" [fullScreen]="true">
        <p style="color: white"> Making Payment ... </p>
        </ngx-spinner>
    <div class="form-group row margin_t">
        <div class="col-sm-12 mx-auto">

            <section class="payment-form dark">
                <div class="container">
                    <div class="block-heading">
                        <h2>Payment</h2>
                        <p>{{service}}</p>
                    </div>
                    <form>
                        <div class="products">
                            <h3 class="title">Checkout</h3>
                            <div class="item">
                                <span class="price">${{price}}</span>
                                <p class="item-name">Service</p>
                                <p class="item-description">{{service}}</p>
                            </div>
                            <div class="item">

                                <p class="item-name">Details</p>
                                <p class="item-description">Pickup Address: {{pickup}}</p>
                                <p class="item-description">Delivery Address: {{delivery}}</p>
                                <p class="item-description">Distance Apart: {{distance}}</p>
                                <p class="item-description">Duration: {{duration}}</p>
                            </div>
                            <div *ngIf="couponApplied" class="total">Applied Coupon<span class="price">- ${{applied}}</span></div>
                            <div class="total">Total<span class="price">${{price}}</span></div>
                            
                        </div>
                        <form class="card mt-4 mb-4 p-2" [formGroup]="couponForm" (ngSubmit)="getCoupons()">
                            <div class="input-group input-group-sm"> 
                                <input type="text" class="form-control" formControlName="coupon"
                                    placeholder="Promo code">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Redeem</button>
                                </div>
                            </div>
                            <div *ngIf="showError" class="help-block text-danger">
                                <p>{{valid_till}}</p>
                            </div>

                        </form>
                      
                        <div class="card-details">
                            <h3 class="title">Pay with payPal</h3>
                            <div class="row form-group text-center" id="pay">
                                <div class="col-sm-10 mx-auto">
                                    <div id="paypal-button"></div>
                                </div>
                            </div>
                            <h3 class="title" >Pay with CREDIT | DEBIT CARD</h3>
                            <div>
                                <div class="row form-group text-center" id="sq">
                                    <div class="col-sm-10 mx-auto">
                                        <div id="form-container">
                                            <div id="sq-card"></div>
                                            <div id="sq-card" class="third"></div>
                                            <div id="sq-card" class="third"></div>
                                            <div id="sq-card" class="third"></div>
                                            <div id="sq-card" class="third"></div>
                                            <button id="sq-creditcard" *ngIf="showbtn" class="btn btn-primary btn-lg mt-2 "
                                                (click)="requestCardNonce($event)" [disabled]="click">Pay
                                                ${{price}}</button>
                                        </div>
    
                                        <input type="hidden" id="sq-id" name="sq-id">
                                        <input type="hidden" id="card-nonce" name="nonce">
    
                                    </div>
                                    <div class="row form-group text-center mt-5" >
                                        <div class="col-sm-10 mx-auto">
                                           <button class="btn btn-sm btn-danger" (click)="clearCart()">Clear Cart</button>
        
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>

                    </form>
                </div>
            </section>
        </div>
    </div>
</div>