<div class="container mb-5">
    <div class="row form-group text-center">
        <div class="col-sm-10">
            <div id="form-container">
                <div id="sq-card"></div>
                <div id="sq-card" class="third"></div>
                <div id="sq-card" class="third"></div>
                <div id="sq-card" class="third"></div>
                <div id="sq-card" class="third"></div>
                <button id="sq-creditcard" class="btn btn-primary btn-lg mt-2 " (click)="requestCardNonce($event)">Pay
                    $1.00</button>
            </div>

            <input type="hidden" id="sq-id" name="sq-id">
            <input type="hidden" id="card-nonce" name="nonce">

        </div>
    </div>

</div>