
<div class="container container-fluid mt-5">
    <div class="container">
        <div class="row mb-2  p-3">
            <div class="col-sm-12 justify-content-centent">
                <h3 class=" mt-1 mb-3">About us</h3>
                <p>Errandboyservices is a specialized online platform created to provide on-demand pickup and delivery
                    services in the US.
                    We offer an exclusive range of leading pickup and drop-off services for individuals who may be too
                    busy to collect purchases or assist
                    those with disabilities in receiving their groceries, prescriptions, and more. Our pickup and
                    delivery team is also
                    specialized in helping local businesss in the New York Area. We presently serve Manhattan, the Bronx
                    and Westchester, New York.</p>
            </div>
        </div>
        <div class="row mb-2  p-3">
            <div class="col-sm-12 justify-content-centent">
                <h3 class=" mt-1 mb-3">What We Do</h3>
                <p><i>We offer the following service solutions</i></p>
                <ul class="list-group">
                    <li class="list-group-item"><p>Prescription pickup and delivery</p></li>
                    <li class="list-group-item"><p>Laundry or dry-cleaning pickup and drop-off</p></li>
                    <li class="list-group-item"><p>Bakery pickup and delivery</p></li>
                    <li class="list-group-item"><p>Mail or package pickup and delivery</p></li>
                    <li class="list-group-item"><p>Store pickup or purchase and delivery</p></li>
                    <li class="list-group-item"><p>Catering pickup and delivery</p></li>
                </ul><br>
                <p>We pickup up from pharmacies and general stores of your choice <br>
                    Our drivers are well trained and licensed to provide the most professional service delivery to you
                    as our truly
                    valued customers.
                    We maintain your confidentiality every step of the way and ensure that all customer information is
                    only used for exceptional
                    service delivery.<br>
                    We offer 7 days of pickup and delivery services from 5am to 9pm. Our online booking service is
                    available 24 hours,
                    7 days a week.<br>
                    We strive to exceed our customers' expectations; that is why we are in business</p>
            </div>
        </div>
        <div class="row mb-2  p-3">
            <div class="col-sm-12 d-flex justify-content-center">
                <h3>Leadership</h3>

            </div>
        </div>
        <div class="row mb-2  p-3 g-2">
            <div class="col-sm-6 col-md=6 col-lg-4 ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Anthony Obiegbulem<br><span class="text-danger">CO-FOUNDER & CEO</span>
                        </h5>
                        <p class="card-text">Anthony drives the strategic vision of the
                            Errandboyservices and institutes the environment that ensures our values are communicated
                            and fully embodied by our people across all departments.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Luis Anderson<br><span class="text-danger">CO-FOUNDER & COO</span></h5>
                        <p class="card-text">Luis coordinates the day to day operations of all the departments
                            leaveraging his years of experience as
                            Chief Business Strategist in Fortune 500 company.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Thomas Ken<br><span class="text-danger">Operations Manager</span></h5>
                        <p class="card-text">Thomas manages the external operations to ensure Errandboyservices exceeds
                            our customers expectations.
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5  p-3">
            <div class="col-sm-12 col-md-6 col-lg-6 ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lizzy Brut<br><span class="text-danger">Marketing Strategist</span></h5>
                        <p class="card-text">Lizzy drives Errandboyservices' Marketing strategy. Her role is to ensure
                            what we do and how we do it, are effectively communicated
                            to the people who are looking for superior delivery services they can depend on. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Benneth Oyinna<br><span class="text-danger">IT | Project Supervisor</span></h5>
                        <p class="card-text">Benneth provides his highly innovative IT expertise that ensures our IT
                            infrastrutures deliver precision.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>