<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-10">
            <form [formGroup]="passForm" class="mt-5">
                <div class="form-group mb-2">
                    <label>New Password</label>
                    <input type="password" class="form-control form-control-lg" placeher="Enter  password" (blur)="displayError=true" placeholder="New Password"
                    [ngClass]="{ 'is-invalid': displayError && pf.password.errors , 'is-valid': pf.password.valid }"
                    formControlName="password">
                    <div *ngIf="displayError && pf.password.errors" class="invalid-feedback">
                        <div *ngIf="pf.password.errors.required ">Password must contain atleast one (1) lower alphabetical character</div>
                        <div *ngIf="pf.password.errors.required ">Password must contain atleast one (1) upper alphabetical character</div>
                        <div *ngIf="pf.password.errors.required ">Password must contain atleast one (1) numeric character</div>
                        <div *ngIf="pf.password.errors.required ">Password must contain atleast one (1) special  character</div>
                        <div *ngIf="pf.password.errors.required ">Password must be atleast eight (8) characters or longer</div>

                    </div>
                </div>
                <div class="form-group mb-2">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control form-control-lg"  placeholder="Confirm Password" (blur)="displayError=true" 
                    [ngClass]="{ 'is-invalid':displayError && pf.confirm_password.errors , 'is-valid': pf.confirm_password.valid }"
                    formControlName="confirm_password">
                    <div class="invalid-feedback" *ngIf="displayError && pf.confirm_password.errors.mustMatch">Password did not match</div>
                  
                </div>
               
                <div class="form-group">
                    <button class="btn btn-block btn-primary" (click)="changePassword()" ><span *ngIf="loading"
                        class="spinner-grow spinner-grow-sm text-light"></span> Change Password</button>
                </div>
            </form>
           
        </div>
    </div>
</div>