
 

<div class="container">
    <div class="container mt-5">
        <h3 class=" text-center">Prescription Pickup and Delivery
        </h3>
        <h5 class="text-center">Bringing convenience to your doorstep</h5>

    </div>

    <div class="row margin_t">

        <div class="col-sm-12 p-5 bg-white shadow-md">

            <p>Do you need to have your Prescription drugs picked up and
                dropped-off at your specified addresses? <br>Errandboyservices will do just that at the fastest speed
                and least cost</p>



            <p>


                We pickup and deliver prescriptions and medication from most pharmacies in the Bronx, Upper Manhattan and Westchester New York
Simply get your prescription filled by your local pharmacy and provide us with the order information and we will do the rest by getting it delivered to you on timely manner
Your privacy and satisfaction are our utmost priorities, we ensure your personal information are only used for the sole purpose of providing you with exceptional service. 
We presently serve Westchester, Bronx and Upper Manhattan areas of New York. 
Click below to schedule your pickup, ensure your prescription/medication will be ready at the pickup time you select and give us little instructions on how you want your prescription to be delivered. Delivery fee will be calculated at checkout, credit card and Paypal payment options are available

                <br>



            </p>
            <a class="btn btn-primary  btn-lg mt-3 text-white" routerLink="/orders/prescription">Schedule
                Pickup</a>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12 p-5 bg-white shadow-md mb-2">
            <h3 class="text-center">
                How It Works
            </h3>
            <ul>
                <p>
                    <li>Schedule a pickup online, our platform is very intuitive to navigate, <label
                            class="label label-info"> available 24/7.</label></li>
                    <li>Fill in your details, including pickup location and delivery addresses</li>
                    <li>Our delivery driver will pickup and drop-off your laundry or dry-cleaning at your specified
                        addresses</li>
                    <li>We will send you a delivery confirmation once your order is delivered</li>
                    <li>Our delivery services are available 6 am to 9pm, 7 days a week. Our online scheduling service is
                        available 24 hours
                        every day</li>
                </p>
            </ul>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12 p-5 bg-white">
            <h3 class="text-center">
                Other Services
            </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="" routerLink="/orders/laundry">Laundry or dry-cleaning pickup and
                        drop-off</a>
                </li>
                <li class="list-group-item"><a href="" routerLink="/orders/catering">Catering pickup and delivery</a>
                </li>
                <li class="list-group-item"><a href="" routerLink="/orders/baking">Bakery pickup and delivery</a></li>
                <li class="list-group-item"><a href="" routerLink="/orders/mail-package">Mail or package pickup and
                        delivery</a></li>
                <li class="list-group-item"><a href="" routerLink="/orders/store-purchase">Store pickup or purchase
                        and delivery</a></li>
            </ul>
        </div>
    </div>


</div>