 .logo {
        height: 50px;
        background: #fff;
        margin: 16px;
        background-image: url("/assets/images/errand-boy-logo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
      }

      nz-header {
        background: #f0f2f5;
        padding: 15px;
        margin-bottom: 30px;
      }

      nz-content {
        margin: 0 16px;
      }

      nz-breadcrumb {
        margin: 16px 0;
      }

      .inner-content {
        padding: 24px;
        background: #fff;
        min-height: 360px;
      }

      nz-footer {
        text-align: center;
      }

.ant-layout-sider {
    position: relative;
    min-width: 0;
    background: #fff;
    transition: all .2s;
}
.ant-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 48px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    background: #007bff;
    cursor: pointer;
    transition: all .2s;
}









