<!-- Begin  Footer-->
<div class="cbg_f">
    <footer class="container py-5 bg-light-gray " style="margin-bottom: -25px;">
        <div class="row">
            <div class="col-6 col-md text-white">
                <h5 ><span style="color: #40a9ff;">Quick Links</span ></h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" routerLink="/" routerLinkActive="active">Home</a></li>
                    <li><a class="text-white" routerLink="/about" routerLinkActive="active">About</a></li>
                    <li><a class="text-white" routerLink="/privacy" routerLinkActive="active">Privacy</a></li>
                    <li><a class="text-white" routerLink="/terms" routerLinkActive="active">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md text-white">
                <h5 ><span style="color: #40a9ff;">Support Centre</span ></h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" routerLink="/faq" routerLinkActive="active">FAQs</a></li>
                    <li><a class="text-white disabled" routerLink="/supports" routerLinkActive="active">Supports</a></li>
                    <li><a class="text-white -"  routerLink="/contact" routerLinkActive="active">Contact</a></li>
                    <li><a class="text-white disabled" routerLink="#" routerLinkActive="active">Blog</a></li>
                </ul>
            </div>
            <div class="col-6 col-md text-white">
                <h5><span style="color: #40a9ff;">Contact Us</span ></h5>
                <ul class="list-unstyled text-small">
                    <li>Errandboyservices LLC</li>
                    <li>2005 Palmer Ave</li>
                    <li>PMB 1136</li>
                    <li>Larchmont NY 10538</li>
                    <li><i class="las la-envelope"></i> Inquiry@errandboyservices.com</li>
                    <li><i class="las la-phone"></i> 914 817 5208</li>
                </ul>
            </div>
           
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-lg-6 text-center">
                <h5 ><span style="color: #40a9ff;"> Subscribe To Our Newsletter</span> </h5>
            </div>
            <div class="col-sm-12 col-lg-8">
                <div class="form-group p-2 inline">
                    <p class="text-center">Join our email community to be notified of our specials and new
                        services</p>
                        <div class="input-group">    
                    <input type="email" class="form-control form-control-lg mr-1 mb-2" id="exampleInput" placeholder="Enter Email">
                    <div class="append">
                     <button type="button" class="btn  btn-lg btn-primary ">Subscribe</button></div>
                    </div>
                     
                </div>
            </div>
                
                
        </div>
    </footer>

    <div class="row border-top p-2 text-white">
        <div class="col-md-6 text-center">
            <p>&copy;{{year}} | Errandboyservices: Bringing convenience to your doorstep</p>
        </div>
        <div class="col-md-6 text-center"><img
                src="https://snippets.wrappixel.com/wp-content/themes/wrappixel/assets/images/payment.jpg">
        </div>
    </div>
</div>