<div class="container-fluid bg-img p-4" style="margin-top: -10px;">
  <div class="row justify-content-sm-center" style="padding-top: 160px;">
    <div class="col-sm-8 text-center">
      <h2 class=" text-center text-white">WE ARE HERE TO HELP YOU</h2>
      <h4 class="subtitle font-weight-normal text-center text-white" style="padding-top: 15px; opacity:0.8"><i>
        Errandboyservices
        offers pickup and delivery
        Services for individuals,disabled, and businesses. Whether you need to pick up a prescription from a local
        pharmacy, or have your laundry
        picked up and delivered to you, Errandboyservices Will take care of it at the fastest time and least cost.
        Below is the full list of services we offer for your convenience.</i>
      </h4>
    </div>


  </div>
</div>
<div class="row justify-content-center p-4">
  <div class="col-sm-8 d-flex justify-content-center">
    <div class="nav-item" ngbDropdown display="dynamic" placement="top">
      <a class="btn btn-danger btn-lg text-center text-white" tabindex="0" ngbDropdownToggle id="navbarDropdown3"
        role="button">
        Book Now
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu bg-white" >
        <a ngbDropdownItem routerLinkActive="active" routerLink="/orders/laundry">Laundry or dry-cleaning pickup and
          drop off</a>
        <a ngbDropdownItem routerLinkActive="active" routerLink="/orders/prescription">Prescription pickup and
          delivery</a>
        <a class="dropdown-item" routerLinkActive="active" routerLink="/orders/catering">Catering pickup and
          delivery</a>
        <a class="dropdown-item" routerLinkActive="active" routerLink="/orders/baking">Bakery pickup and delivery</a>
        <a class="dropdown-item" routerLinkActive="active" routerLink="/orders/mail-package">Mail or package pickup and
          delivery</a>
        <a class="dropdown-item" routerLinkActive="active" routerLink="/orders/store-purchase">Store pickup or purchase
          and
          delivery</a>
      </div>
    </div>
  </div>

</div>


<!-- Services Section STarts-->
<div class="container-fluid bg-white">
  <div class="container">
    <div class="row mx-auto text-center p-5">
      <div class="col-sm-12">
        <h2 class="mt-4 mx-auto">SERVICES</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center" [@slideInLeft]="slideInLeft">
      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card">
          <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
          <img src="./assets/images/prescription pickup photo.jpg" class="card-img border-0" alt="prescription"
            style="object-fit: cover; height:320px;">
          <div class="card-body text-center">
            <h5 class="card-title">Medication | Prescription Pick-up & Delivery</h5>
            <p class="card-text">Do you need to pick up medication or prescription from a local pharmacy?</p>
            <a href="#" class="btn btn-primary" routerLink="services/prescription">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card">
          <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
          <img src="./assets/images/laundry pickup photo.jpg" class="card-img border-0" alt="prescription"
            style="object-fit: cover; height:320px;">
          <div class="card-body text-center">
            <h5 class="card-title">Dry Cleaning | Laundry Pick up & Drop off</h5>
            <p class="card-text">Do you need to take your laundry to a local dry cleaner or laundry or have it picked up
              and
              delivered to you?
            </p>
            <a href="#" class="btn btn-primary" routerLink="services/laundry">Learn More</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row" [@slideInLeft]="slideInLeft">

      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card">
          <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
          <img src="./assets/images/mail package pickup photo.jpg" class="card-img border-0" alt="prescription"
            style="object-fit: cover; height:320px;">
          <div class="card-body text-center">
            <h5 class="card-title">Mail | Package
              Pick-up & Drop off</h5>
            <p class="card-text">Do you need your mail or package to be picked up and delivered to you?
            </p>
            <a href="#" class="btn btn-primary" routerLink="services/mail-package">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card">
          <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
          <img src="./assets/images/bakery pickup photo.jpg" class="card-img border-0" alt="prescription"
            style="object-fit: cover; height:320px;">
          <div class="card-body text-center">
            <h5 class="card-title">Bakery
              Pick-up & Drop off</h5>
            <p class="card-text">Need to pick a bakery from a local store?
            </p>
            <a href="#" class="btn btn-primary" routerLink="services/baking">Learn More</a>
          </div>
        </div>
      </div>



    </div>

    <div class="row" [@slideInLeft]="slideInLeft">


      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card">
          <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
          <img src="./assets/images/catering pickup photo.jpg" class="card-img border-0" alt="catery"
            style="object-fit: cover; height:320px;">
          <div class="card-body text-center">
            <h5 class="card-title">Catery Pick-up & Drop off</h5>
            <p class="card-text">Need your catery to be pick up and delivered for you?
            </p>
            <a href="#" class="btn btn-primary" routerLink="services/catering">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card">
          <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
          <img src="./assets/images/store pickup photo.jpg" class="card-img border-0" alt="prescription"
            style="object-fit: cover; height:320px;">
          <div class="card-body text-center">
            <h5 class="card-title">Store Pick up or Purchase and delivery</h5>
            <p class="card-text">Need to buy some few items from a local store, such as groceries, daily, poultry,
              alcohol, bakery, household item? or
              have picked up and delivered to you?
            </p>
            <a href="#" class="btn btn-primary" routerLink="services/store-purchase">Learn More</a>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>
<!--Modal template-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ErrandBoy Services</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center mt-195 mb-195" *ngIf="loading">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="showPrice">
      <div style="display: flex; justify-content:center">
        <img src="assets/images/001-confirmation.png" alt="icon" style="width: 150px; height: auto; ">
      </div>
      <p class="text-center">Your Service Fee would cost</p>
      <h1 class="text-center" style="color: greenyellow;">{{service_fee | currency}}</h1>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>


<!-- End of Services Section -->

<!-- Testimonial Section -->
<div class="container-fluid bg-light">
  <div class="container">
    <div class="testimonial py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 mb-3">
            <h5 class="mt-4">What Customers Say</h5>
            <span class="devider bg-info d-inline-block my-3"></span>
            <p class="text-primary">We care what our customers think of us and so should you. We are partners in your
              business and your
              success.
            </p>
          </div>
          <div class="col-lg-6 col-md-6 mb-3 ml-auto">
            <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme','sliding']">
              <!-- item -->
              <div class="item">
                <div class="card card-shadow border-0 mb-4 position-relative">
                  <div class="p-4">
                    <p class="font-weight-light text-primary">Errandboy services is top notch, pick up and delivery was
                      smooth, I
                      recommend.
                    </p>
                  </div>
                </div>
                <div class="d-flex align-items-center ml-3">
                  <!--  <div class="customer-thumb"><img
                      src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/testimonial/1.jpg" alt="wrapkit"
                      class="rounded-circle mr-3" /></div> -->
                  <div class="">
                    <h5 class="font-weight-bold mb-0">Michael Anderson</h5><span class="font-13"><i>New York</i></span>
                  </div>
                </div>
              </div>
              <!-- item -->
            </owl-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid m-0 mb-0" style="background-color: #fff;">
  <div class="container m-0">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center"
        style="background-image: url('/assets/images/hero.png'); height: 300px; width:100%; background-size:contain; background-position:center;  background-repeat: no-repeat;">

      </div>
      <div class="col-sm-12 col-md-7">
        <h3 class="mb-3 mt-3" style="color: #ff0039;;">Try Our Service Fee Calculator</h3>
        <form [formGroup]="errandForm" (ngSubmit)="onSubmit()">
          <div class="form-group row mt-2">
            <div class="col-sm-12">
              <p [ngClass]="{'is-invalid': isSubmitted && formControls.errandService.errors }" class="mb-0">
                <select class="form-control " formControlName="errandService" #errandService>
                  <option value="">Select Errand Service ...</option>
                  <option *ngFor="let service of services" [value]="service.id">{{service.title}}</option>
                </select>
              </p>
              <div *ngIf="isSubmitted && formControls.errandService.errors" class="invalid-feedback">
                <div *ngIf="formControls.errandService.errors.required">Select a service to proceed</div>
              </div>
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col-sm-12">
              <p [ngClass]="{ 'is-invalid': isSubmitted && formControls.pickupAddress.errors }" class="mb-0">
                <input type="text" #originAddress class="form-control" formControlName="pickupAddress"
                  placeholder="Enter Pick up Address" ngx-google-places-autocomplete #placesRef="ngx-places"
                  (onAddressChange)="handleAddressChange($event)">
              </p>
              <div *ngIf="isSubmitted && formControls.pickupAddress.errors" class="invalid-feedback">
                <div *ngIf="formControls.pickupAddress.errors.required">Enter an address to proceed</div>
              </div>

            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="col-sm-12">
              <p [ngClass]="{ 'is-invalid': isSubmitted && formControls.dropoffAddress.errors }" class="mb-0">
                <input type="text" #destinationAddress class="form-control" formControlName="dropoffAddress"
                  placeholder="Enter Drop off Address" ngx-google-places-autocomplete #placesRef="ngx-places"
                  (onAddressChange)="handleAddressChange($event)">
              </p>
              <div *ngIf="isSubmitted && formControls.dropoffAddress.errors" class="invalid-feedback">
                <div *ngIf="formControls.dropoffAddress.errors.required">Enter an address to proceed</div>
              </div>

            </div>
          </div>
          <button class="btn btn-danger btn-md mt-3 mb-3" [disabled]="errandForm.invalid"
            (click)="open(content)">Calculate
            Fee</button>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- End of Testimonial Section -->